<template>
<div class="main-content container">
    <div class="row" data-plugin="masonry">
        <div class="col-xs-12 col-lg-4 col-md-6 col-sm-12 masonry-item">
            <!-- Widget -->
            <div class="card card-shadow">
                <div class="card-img-top cover overlay overlay-hover">
                    <img class="cover-image overlay-figure overlay-spin img-fluid" src="https://udemy-images.udemy.com/course/750x422/922484_52a1_5.jpg" alt="">
                    <div class="ribbon ribbon-badge ribbon-primary ribbon-reverse">
                        <span class="ribbon-inner">HOT</span>
                    </div>
                </div>
                <div class="card-block">
                  <router-link to="/p/abcywjhjk">
                    <h5 class="card-title">The Complete Node.js Developer Course</h5>
                  </router-link>
                    <p class="card-text">
                        <span class="text-success">107,715</span> <span class="text-muted">students enrolled</span>
                    </p>
                </div>
                <!-- <div class="card-block clearfix">
              <div class="card-actions">
                <a href="javascript:void(0)">
                  <span>18</span> students enrolled
                </a>
                <a class="btn btn-default btn-outline card-link pull-xs-right" href="javascript:void(0)">
                  <i class="fa fa-angle-right" aria-hidden="true"></i> Read More
                </a>
              </div>
            </div> -->
            </div>
            <!-- End Widget -->
        </div>


        <div class="col-xs-12 col-lg-4 col-md-6 col-sm-12 masonry-item">
            <!-- Widget -->
            <div class="card card-shadow">
                <div class="card-img-top cover overlay overlay-hover">
                    <img class="cover-image overlay-figure overlay-spin img-fluid" src="https://udemy-images.udemy.com/course/750x422/1033058_5816_3.jpg" alt="">
                </div>
                <div class="card-block">
                    <h5 class="card-title">Anatomy of a Cyber Attack: A beginner's course on hacking!</h5>
                    <p class="card-text">
                        <span class="text-success">107,715</span> <span class="text-muted">students enrolled</span>
                    </p>
                </div>
            </div>
            <!-- End Widget -->
        </div>

        <div class="col-xs-12 col-lg-4 col-md-6 col-sm-12 masonry-item">
            <!-- Widget -->
            <div class="card card-shadow">
                <div class="card-img-top cover overlay overlay-hover">
                    <img class="cover-image overlay-figure overlay-spin img-fluid" src="https://udemy-images.udemy.com/course/750x422/437490_c76a_4.jpg" alt="">
                </div>
                <div class="card-block">
                    <h5 class="card-title"> The Complete Ethical Hacking Course: Beginner to Advanced!</h5>
                    <p class="card-text">
                        <span class="text-success">107,715</span> <span class="text-muted">students enrolled</span>
                    </p>
                </div>
            </div>
            <!-- End Widget -->
        </div>

        <div class="col-xs-12 col-lg-4 col-md-6 col-sm-12 masonry-item">
            <!-- Widget -->
            <div class="card card-shadow">
                <div class="card-img-top cover overlay overlay-hover">
                    <img class="cover-image overlay-figure overlay-spin img-fluid" src="https://udemy-images.udemy.com/course/750x422/938560_3a4e_2.jpg" alt="">
                </div>
                <div class="card-block">
                    <h5 class="card-title">The Complete Ethical Hacking Course 2.0: Python & Kali Linux</h5>
                    <p class="card-text">
                        <span class="text-success">107,715</span> <span class="text-muted">students enrolled</span>
                    </p>
                </div>
            </div>
            <!-- End Widget -->
        </div>


    </div>
</template>
