<template>
<div class="main-content container">
    <div class="thumb-view row" data-plugin="masonry">
        <div class="col-xs-12 col-lg-4 col-md-6 col-sm-12 masonry-item" v-for="(doc, index) in docs">
            <!-- Widget -->
            <div class="card card-shadow">
                <div class="card-img-top cover overlay overlay-hover">
                    <router-link :to="{name:'post-detail', params: {id: doc.sid}}">
                        <img class="cover-image overlay-figure overlay-spin img-fluid" :src="doc.img" :alt="doc.tl">
                    </router-link>
                    <div class="ribbon ribbon-badge ribbon-primary ribbon-reverse" v-if="doc.stt==2">
                        <span class="ribbon-inner">HOT</span>
                    </div>
                </div>
                <div class="card-block">
                    <router-link :to="{name:'post-detail', params: {id: doc.sid}}">
                        <h5 class="card-title">{{doc.tl}}</h5>
                    </router-link>
                    <p class="card-text">
                        <span class="text-success">{{doc.st}}</span> <span class="text-muted">students enrolled</span>
                    </p>
                </div>

            </div>
            <!-- End Widget -->
        </div>
    </div>
    <!-- Pagination -->
    <infinite-loading :on-infinite="onInfinite" ref="infiniteLoading" spinner="waveDots">
        <span slot="no-more">There is no more results :(</span>
    </infinite-loading>
    <!-- End Pagination -->
</template>


<script>
import InfiniteLoading from 'vue-infinite-loading'
import moment from 'moment'
import _ from 'underscore'
import { mapGetters, mapActions } from 'vuex'

export default {
    components: {
        InfiniteLoading
    },
    computed: {
        ...mapGetters({
            page: 'page',
            docs: 'docs'
        })
    },
    filters: {
        moment(value) {
            return moment(value).format('YYYY-MM-DD HH:MM A')
        }
    },

    methods: {
        //Pagination
        onInfinite() {
            this.$store.dispatch('POST_GET_LIST', { page: this.page }).then((res) => {
                if (this.docs.length) {
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
                    if (this.page > this.pages) {
                        this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                    }
                } else {
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                }
            });
        }


    },
    created() {
      //  this.$store.dispatch('POST_CLEAN');
    }
}
</script>
