<template>
<nav class="navbar navbar-default navbar-mega navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler hamburger hamburger-close collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="hamburger-bar"></span>
        </button>
            <router-link class="navbar-brand" to="/"> <i class="fa fa-bars" aria-hidden="true"></i></rounter-link>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-2">
            <ul class="nav navbar-nav">

              <!-- Menu List -->
              <li class="nav-item dropdown dropdown-fw dropdown-mega">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Menu</a>
                  <ul class="dropdown-menu" role="menu">
                      <li>
                          <!-- Content Container To Add Padding -->
                          <div class="mega-content">
                              <div class="row">
                                  <div class="col-xs-12 col-sm-6 col-lg-3 mega-menu">
                                      <h5>JavaScript</h5>
                                      <ul class="list-icons">
                                          <li><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Angular</a></li>

                                      </ul>
                                  </div>
                                  <div class="col-xs-12 col-sm-6 col-lg-3 mega-menu">
                                      <h5>Links Title</h5>
                                      <ul class="list-icons">
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                                              <a href="javascript:void(0)"> Link Item </a>
                                          </li>
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                                              <a href="javascript:void(0)"> Link Item </a>
                                          </li>
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                                              <a href="javascript:void(0)"> Link Item </a>
                                          </li>
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                                              <a href="javascript:void(0)"> Link Item </a>
                                          </li>
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                                              <a href="javascript:void(0)"> Link Item </a>
                                          </li>
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                                              <a href="javascript:void(0)"> Link Item </a>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="col-xs-12 col-sm-6 col-lg-3 mega-menu">
                                      <h5>Section Title</h5>
                                      <ul class="list-icons">
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>List Item
                                          </li>
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>List Item
                                          </li>
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>List Item
                                          </li>
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>List Item
                                          </li>
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>List Item
                                          </li>
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>List Item
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="col-xs-12 col-sm-6 col-lg-3 mega-menu">
                                      <h5>Section Title</h5>
                                      <ul class="list-icons">
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>List Item
                                          </li>
                                          <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>List Item
                                          </li>
                                          <li>
                                              <ul class="list-icons">
                                                  <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                                                      <a href="javascript:void(0)"> Link Item </a>
                                                  </li>
                                                  <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                                                      <a href="javascript:void(0)"> Link Item </a>
                                                  </li>
                                                  <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                                                      <a href="javascript:void(0)"> Link Item </a>
                                                  </li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
              </li>

                <!-- Media Example -->
                <li class="nav-item dropdown dropdown-mega"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Media</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <div class="mega-content">
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-left">
                                            <a class="avatar avatar-lg" href="javascript:void(0)">
                                                <img src="https://placehold.it/60x60" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Media Heading</h4> Lorem ipsum In laboris ullamco cupidatat commodo eiusmod laboris do cupidatat irure in anim Excepteur eiusmod eiusmod nostrud dolor dolore laboris deserunt sed irure laborum ex occaecat reprehenderit sit esse
                                            veniam minim veniam cupidatat voluptate sunt ullamco dolore et ex commodo in.
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left">
                                            <a class="avatar avatar-lg" href="javascript:void(0)">
                                                <img src="https://placehold.it/60x60" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Nested Media Heading</h4> Lorem ipsum Laborum deserunt culpa mollit sunt in nostrud aliquip sed magna consequat fugiat eiusmod do consectetur est irure consectetur dolore velit tempor adipisicing occaecat eu ea esse cillum nostrud amet
                                            in commodo laborum Ut exercitation consectetur dolore.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Tables -->
                <li class="nav-item dropdown dropdown-fw dropdown-mega"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Tables</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <div class="mega-content table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Thumbnails Demo -->
                <li class="nav-item dropdown dropdown-mega"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Cards</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <div class="mega-content">
                                <div class="row">
                                    <div class="col-xl-4 col-xs-12">
                                        <div class="card">
                                            <img class="card-img-top w-full" src="https://placehold.it/350x150" alt="...">
                                            <div class="card-block">
                                                <h4 class="card-title">Card Label</h4>
                                                <p class="card-text">Lorem ipsum Dolore nulla mollit consectetur enim est adipisicing dolor exercitation.</p>
                                                <p><a class="btn btn-primary card-link m-r-5" href="javascript:void(0)" role="button">Button</a>
                                                    <a class="btn btn-default card-link" href="javascript:void(0)" role="button">Button</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-xs-12">
                                        <div class="card">
                                            <img class="card-img-top w-full" src="https://placehold.it/350x150" alt="...">
                                            <div class="card-block">
                                                <h4 class="card-title">Card Label</h4>
                                                <p class="card-text">Lorem ipsum Minim in in Ut officia cupidatat sed elit do cillum in dolore aliquip.</p>
                                                <p><a class="btn btn-primary card-link m-r-5" href="javascript:void(0)" role="button">Button</a>
                                                    <a class="btn btn-default card-link" href="javascript:void(0)" role="button">Button</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-xs-12">
                                        <div class="card">
                                            <img class="card-img-top w-full" src="https://placehold.it/350x150" alt="...">
                                            <div class="card-block">
                                                <h4 class="card-title">Card Label</h4>
                                                <p class="card-text">Lorem ipsum Labore laborum nisi ex et ullamco in anim enim minim anim id in sed dolor.</p>
                                                <p><a class="btn btn-primary card-link m-r-5" href="javascript:void(0)" role="button">Button</a>
                                                    <a class="btn btn-default card-link" href="javascript:void(0)" role="button">Button</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>



            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Forms -->
                <li class="nav-item dropdown dropdown-mega"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Forms</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <div class="mega-content">
                                <form action="send.php">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Write your message.."></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Send</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</template>

<script>
export default {

    computed: {
        auth() {
            return this.$store.state.member.status
        },
        user() {
            return this.$store.state.member.user
        }
    }

}
</script>
