<template>
<div id="app">
    <navbar></navbar>
    <transition name="fade" mode="out-in">
        <router-view class="view" keep-alive></router-view>
    </transition>

</div>
</template>

<script>
import Navbar from './views/navbar.vue'
export default {
    components: {
        navbar: Navbar
    },
    created() {
        //this.$store.dispatch('REQUEST_AUTH');
    }

}
</script>
