@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic");
@import url("base.css");
@import url("color.css");
@import url("site.css");
code {
    background-color: #ddf3e7;
    border-radius: 4px;
    color: #29754d;
    font-size: 90%;
    padding: 3px 5px;
    white-space: normal;
}

code[data-lang], pre[data-lang] {
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre[data-lang] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: .3em
}

:not(pre)>code[data-lang], pre[data-lang] {
    background: #444
}

:not(pre)>code[data-lang] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}


/*--------custom---------*/

body {
    background-color: #f1f4f5;
}

.white-t {
    margin-top: 10px;
}

.white-b {
    margin-bottom: 10px;
}

.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    margin: 20px 0;
}


.thumb-view .card-title{
  height: 40px;
}

/*----------nav-menu----------*/
/*
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding: 0;
}*/

.main-nav.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border-style: none;
    min-height: auto !important;
    height: 64px !important
}


/*.main-nav .navbar-form {
    padding-top: 4px;
}*/

.main-nav .nav-link .fa {
    font-size: 1.3em
}

.main-nav .navbar-brand {
    /*height: auto !important;*/
    min-height: auto !important
}

.nav-bg-gk {
    background: #1b2b36 !important;
}


/*
.main-nav .navbar-toolbar .nav-link{
    padding: 0 auto;
    line-height: 56px;
}*/

.main-nav .navbar-toolbar .nav-link {
    padding: 20px;
    color: #76838f;
}

.main-nav .tag-pill.up {
    top: -18px;
}

.main-nav .prof-auth a.nav-link {
    color: #447CA6;
}

.main-nav .prof-auth a.nav-link:hover {
    color: #fff;
    background: #233D50
}

.main-nav .prof-avt {
    width: 30px;
    height: 30px;
}

.quick-search {
    box-shadow: none;
}

.quick-search .form-control {
    background: #132029;
    width: 300px;
    min-width: 300px;
    border-color: transparent;
    border-radius: 0 !important;
}

.quick-search .form-control:focus {
    border-color: #233D50;
}

.quick-search .input-group-addon {
    background-color: #21394a;
    border-radius: 0;
    padding: 0;
    border-color: transparent;
    border-left-style: none;
    border-style: none;
}

.quick-search .btn {
    background: #21394a;
    border-color: transparent;
    padding: 0px 15px;
}

.quick-search .btn:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    /*background-color: #254156;*/
}

.quick-search .btn:hover i {
    color: #fff;
}

.footer {
    background: #333;
    color: #888;
}

.footer ul {
    list-style: none;
    margin: 0;
}

.footer ul a {
    color: #888
}

.copyright {
    background: #222;
    color: #888;
    padding: 20px 0;
}


/*--------------------*/

.main-content {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
/*-----------autocomplete-------------*/

.autocomplete-suggestions {
    border-top: none;
    background: #333;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 8px;
    overflow: hidden;
    clear: both;
    line-height: 18px;
    border-bottom: dashed 1px #444
}

.autocomplete-suggestion img {
    width: 60px;
    height: 40px;
    margin-right: 8px;
    float: left
}

.autocomplete-selected {
    background: #111;
}


/*.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }*/

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}


/*-----------autocomplete-------------*/

.thumb-view .p-item {
    margin-bottom: 20px;
}

.thumb-view .p-w-item {
    background: #fff;
}

.thumb-view .p-auth {
    padding: 8px;
}

.thumb-view .p-auth .prof-avt {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}

.thumb-view .prof-name {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.thumb-view .p-ts {
    color: #444
}

.thumb-view .p-img {
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    transition: all 350ms cubic-bezier(0, 0.5, 0.5, 1);
}

.thumb-view .p-img:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.3;
    transition: all 350ms cubic-bezier(0, 0.5, 0.5, 1);
}

.thumb-view .p-img:hover:before {
    background: transparent;
}

.thumb-view .p-body {
    padding: 0 10px 10px 10px;
}

.thumb-view .p-tl {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.thumb-view .p-meta {
    padding: 10px;
}

.thumb-view .p-meta ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.thumb-view .p-meta a {
    color: #818a91 !important
}

.thumb-view .p-meta a:hover {
    text-decoration: none;
}

.thumb-view .p-meta a .active {
    color: #ff0000
}


/*--------------*/

.error {
    color: red;
}


/*login begin*/

#login {
    background-image: url(http://blazetvbox.com/wp-content/uploads/2015/01/full-hd-1080p-abstract-wallpapers-desktop-backgrounds-hd-1423959.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.form-signin {
    max-width: 330px;
    float: right;
    top: 100px;
    right: 100px;
    position: relative;
}

.form-signin .form-signin-heading img {
    position: absolute;
    top: -50px;
    left: 120px
}

.login-wrap {
    padding: 70px 20px 20px;
    border: 1px solid white;
}

.down-app {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
}

.form-signin .registration {
    display: inline-block;
    width: 100%;
}

.form-signin .btn-login {
    background: #57ba57;
    color: #fff;
    box-shadow: 0 4px #3c863c;
    margin-bottom: 20px;
    font-size: 1rem;
}

.form-signin .breadcrumb {
    margin: 0;
    background: none;
    border: 1px solid white;
}

.registration>span>a {
    font-size: 10pt
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-lead {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.leadcontainer {
    width: 100%;
}

.fillsplit .dropdown-toggle {
    float: right;
    box-sizing: border-box;
    border-left: 1px solid rgba(161, 210, 251, .4);
}

.fillsplit {
    position: relative;
}

.loginsocial {
    padding: 0;
    width: 100%;
}

.loginsocial>a.btn {
    border-radius: 0;
    margin-left: 0 !important;
}


/*------login end-------*/


/* ------head begin----- */

.head-cover .head-cover-img {
    position: relative;
}

.head-cover .btn-file-cover {
    position: absolute;
    color: #fff;
    top: 0;
    left: 15px;
}

.head-cover .btn-file-cover, .head-navbar .btn-file-avata {
    z-index: 999;
    overflow: hidden;
}

.head-cover .btn-change-cover, .head-cover .btn-cver-ok, .head-cover .btn-cver-cancel {
    margin-top: 20px;
}

.head-cover .cover-success .btn-cver-ok {
    margin-left: 50px;
}

.head-cover .btn-change-cover input#cover, .head-navbar .btn-change-avata input#avata {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: 0;
    background: #fff;
    cursor: inherit;
    display: block;
}

.head-navbar .head-nav-bg {
    background: #1b2b36!important;
    border-radius: 0;
    padding: 0;
    margin: 0 0 15px;
}

.head-navbar .navbar-brand {
    margin-right: 180px
}

.head-navbar .navbar-brand img {
    border: 4px solid #fff;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 8px;
}

.head-navbar .navbar-brand .head-name {
    position: absolute;
    font-size: 30px;
    bottom: 70px;
    left: 200px;
    min-width: 320px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.head-navbar .btn-file-avata {
    position: absolute;
    color: gray;
    bottom: 5px;
    left: 15px;
    background: 0 0;
}

.head-navbar .btn-file-avata:hover {
    color: #014c8c;
    cursor: pointer
}

.head-navbar .head-navItem-left .nav-link {
    border-bottom: 2px solid transparent;
    line-height: 50px;
    padding: 0 15px;
    color: #ddd
}

.head-navbar .head-navItem-left .nav-link:focus, .head-navbar .head-navItem-left .nav-link:hover, .head-navbar .head-navItem-left .active>.nav-link {
    border-bottom-color: #5eb34f;
    color: white;
}

.head-navbar .head-navItem-right .btn-head-act::after {
    display: none
}

.head-navbar .head-navItem-right .btn-head-act, .head-navbar .head-navItem-right .btn-head-act:hover {
    margin: 5px 15px;
    color: white;
    font-size: 13pt;
}


/* -----head.vue end------- */


/*---- router-link-active begin -----*/

.cpanel-content .list-group .router-link-active {
    z-index: 2;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}


/*---- router-link-active end -----*/


/*--- start post detail ---*/

.p-detail {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.p-detail .p-auth {
    padding: 10px 10px
}

.p-detail .p-auth img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}

.p-detail .p-auth .prof-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px
}

.p-detail .p-auth .p-meta {
    margin-top: 5px
}

.p-detail .p-body {
    padding: 0px 12px
}

.p-detail .p-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p-detail .p-body .p-des {
    text-align: justify;
    margin-top: 10px
}

.p-detail .p-set {
    padding: 10px
}

.p-detail .p-set ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.p-detail .p-set a {
    color: #818a91!important;
}

.p-detail .p-set a .active {
    color: red;
}

.p-comment {
    padding: 10px;
    border-top: 1px solid gainsboro;
}

.p-comment .p-comment-auth {
    padding: 0;
}

.p-comment .p-comment-auth img {
    width: 40px;
    height: 40px;
    display: block
}

.p-comment .p-comment-txt {
    padding: 0
}

.p-comment .p-comment-body {
    padding: 10px
}

.p-comment .p-comment-add {
    text-align: center
}

.md-editor .btn-toolbar .btn-group {
    margin-left: .5rem;
}

.md-editor textarea {
    padding: .5rem .75rem;
}


/*--- End post detail ---*/


/*--- Start add post ---*/

.btn-img-post {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 999;
    overflow: hidden;
    height: 38px;
    width: 54px;
}

.btn-img-post>input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.p-upload-progress {
    position: absolute;
    left: 75px;
    width: 65%;
}


/*--- End add post ---*/
